<h1> All Businesses </h1>
{% extends 'base.html' %}
{% block navigation %}
 {{ super() }}
{% endblock %}

{% block main_content %}

<ul>
{% for biz in all_businesses %}
<li>
  <h4>{{ biz.name }}</h4>
  <p>{{ biz.business_location }}</p>
  <p><a href={{ biz.url }}>More Info </a></p>
</li>
<br>
{% endfor %}
</ul>

{% if not all_businesses %}
There are no saved businesses to show.
{% endif %}

<div>
{% for message in get_flashed_messages() %}
<strong>*** {{ message }} ***</strong>
{% endfor %}
</div>

<a href="{{ url_for('index')}}">Return to search for new businesses</a>
{% endblock %}